<section class="contact-us container">
  <div class="contact-us__social">
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#telegram"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#linkedin"></use>
      </svg>
    </span>
  </div>
  <div class="contact-us__icons">
    <div class="icon-holder">
      <span>info@amiroo.com</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#packat"></use>
        </svg>
      </span>
    </div>
    <div class="icon-holder">
      <span>+989380340580</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#mobile"></use>
        </svg>
      </span>
    </div>
    <div class="icon-holder">
      <span
        >تهران، ونک، چهار راه علوی، خیابان پنجم</span
      >
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#location"></use>
        </svg>
      </span>
    </div>
  </div>
  <div class="contact-us__map">
    <img src="/assets/images/map.png" alt="map" />
  </div>
  <div class="contact-us__form">
    <div class="form-wrapper">
      <h3>نظرات شما</h3>
      <form>
        <input type="text" placeholder="نام و نام خانوادگی">
        <input type="text" placeholder="ایمیل خود را وارد کنید">
        <textarea name ="" id="" cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn--primary">ثبت نظر</button>
      </form>
    </div>
  </div>
</section>